
body{
	background-color: rgb(35,35,35);
	font-family: 'Lato', sans-serif;
	color: #15b04b;
	text-align: center;
	/* border: 2px solid #15b04b; */
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.container{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.heading h1{
	font-size: 5em;
}
.heading h2{
	font-size: 2em;
}
.white{
	color: white;
}
button{
	width: 40%;
	border: 2px solid #15b04b;
	border-radius: 5px;
	color: #15b04b;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
}
button:hover{
	color: white;
	background-color: #15b04b;
}
#long-url{
	width: 60%;
	border: 0;
	outline: 0;
	border-bottom: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2em;
	text-align: center;
	color: white;
}
#short-url{
	/* padding: 10px; */
	margin-top: auto;
	margin-bottom: auto;
	max-width: 200px;
	overflow: scroll;
}
#copy-icon{
	padding: 10px;
	width: 40px;
}
.hr{
	width: 40%;
	border: 2px solid #15b04b;
}
#custom-checkbox{
	zoom:1.0;
}
#domain-name{
	color: white;
	font-size: 1em;
	padding: 5px;
	margin-top: auto;
	margin-bottom: auto;
}
#short-hand{
	width: 20%;
	border: 0;
	outline: 0;
	border-bottom: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1em;
	text-align: center;
	color: white;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 20%; /* Set a default minimum width */
  margin-left: -10%; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  word-wrap: break-word;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#banner{
	background-color: #15b04b;
	color: white;
	font-weight: 300;
	font-size: 1.2em;
	padding: 10px;
}