@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	background-color: rgb(31,31,31);
}
#container{
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1{
	font-size: 120px;
	line-height: 0.5;
	color: rgb(16, 229, 152);
}
h2{
	font-size: 80px;
	line-height: 0.5;
	color: rgb(16, 229, 152);
}
#why{
	font-size: 60px;
	line-height: 0.5;
	color: white;
}
p{
	font-size: 40px;
	line-height: 0.5;
	color: white;
}
#copy{
	font-size: 30px;
	color: white;
}
#short-url{
	font-size: 25px;
	line-height: 0.5;
	color: rgb(16, 229, 152);
	display: inline;
	padding: 10px;
}
#long-url{
	width: 80%;
	border: 2px white solid;
	border-radius: 5px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 30px;
	text-align: center;
	background-color: rgb(31,31,31);
}
#submit{
	width: 40%;
	border: 2px rgb(16, 229, 152) solid;
	border-radius: 5px;
	background-color: rgb(31,31,31);
	color: rgb(16, 229, 152);
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 30px;
	text-align: center;
}
#custom-checkbox{
	zoom:1.5;
}
label{
	font-size: 30px;
	color: white;
	padding-left: 10px;
	display: inline;
}
#short-hand{
	width: 20%;
	border: 2px white solid;
	border-radius: 5px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	text-align: center;
	background-color: rgb(31,31,31);
}
#trim-domain{
	font-size: 25px;
	line-height: 0.5;
	color: white;
	display: inline;
	padding-left: 100px;
}