
body{
	background-color: rgb(35,35,35);
	font-family: 'Lato', sans-serif;
	color: #4ba74b;
	text-align: center;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.container{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.heading h1{
	font-size: 5em;
}
.heading h2{
	font-size: 2em;
}
.white{
	color: white;
}
button{
	width: 40%;
	border: 2px solid #4ba74b;
	border-radius: 5px;
	color: #4ba74b;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
}
button:hover{
	color: white;
	background-color: #4ba74b;
}
#long-url{
	width: 60%;
	border: 0;
	outline: 0;
	border-bottom: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2em;
	text-align: center;
	color: white;
}
#short-url{
	/* padding: 10px; */
	margin-top: auto;
	margin-bottom: auto;
	max-width: 200px;
	overflow: scroll;
}
#copy-icon{
	padding: 10px;
	width: 40px;
}
#copy-msg,
#short-url,
#copy-icon{
	visibility: hidden;
}
hr{
	width: 60%;
	color: #4ba74b;
}
/* [class*="col"]{
	background-color: aqua;
	padding: 10px;
	text-align: center;
	border: 1px solid white;
}
.submit-btn{
	background-color: violet;
	color: white;
}
.submit-btn:hover{
	background-color: white;
	color: violet;
	border: 1px solid violet;
	border-radius: 5px;
} */

#custom-checkbox{
	zoom:1.0;
}
#domain-name{
	color: white;
	font-size: 1em;
	padding: 5px;
	margin-top: auto;
	margin-bottom: auto;
}
#short-hand{
	width: 20%;
	border: 0;
	outline: 0;
	border-bottom: 2px solid white;
	border-radius: 5px;
	background-color: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1em;
	text-align: center;
	color: white;
}